[submodule "CleanTypeUnifier"]
	path = CleanTypeUnifier
	url = https://github.com/clean-cloogle/CleanTypeUnifier
[submodule "CleanPrettyPrint"]
	path = CleanPrettyPrint
	url = https://github.com/clean-cloogle/CleanPrettyPrint.git
[submodule "clean-platform"]
	path = clean-platform
	url = https://gitlab.science.ru.nl/clean-and-itasks/clean-platform.git
[submodule "libcloogle"]
	path = libcloogle
	url = https://github.com/clean-cloogle/libcloogle
